<%= form_for(@linha) do |f| %>

   <h2><%= I18n.t "activerecord.models.linha" %></h2>
    
    <p><b><%= f.label :numero %>:</b>
    <%= @linha.numero %></p>

    <p><b><%= f.label :nome %>:</b>
    <%= @linha.nome %></p>

    <p><b><%= f.label :horario %>:</b>
    <%= @linha.horario %></p>


<% end %>

<p><% if can? :update, @linha %>
    <%= link_to I18n.t('link_to.edit'), edit_linha_path(@linha) %> |
<% end %>
<%= link_to I18n.t('link_to.back'), linhas_path %></p>
