= semantic_form_for [@comentario] do |form|
 
  
  = form.input :usuario, :member_label => :nome, :label => 'usuario' 
  = form.input :linha, :member_label => :nome, :label => 'linha'
  = form.input :data, :label => 'Data'
  = form.input :hora, :label => 'Hora'
  = form.input :comentario, :label => 'Comentario'
  = form.submit 'Salvar'
