<<<<<<< HEAD
<h1>* * * Bem Vindo! * * *</h1>
<h1>Nesta página do Sistema Easy Bus você poderá:</h1>
<h1>* Cadastrar um novo usuário.</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sobrenome</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
=======
<h2><%= I18n.t "activerecord.models.usuario" %></h2>
>>>>>>> 3df288dc892c5dc14b637467908110771e90b340

<% @usuarios.each do |usuario| %>

    <table>
 <tr>
        <th><%= I18n.t 'activerecord.attributes.usuario.name' %></th>
        <th><%= I18n.t 'activerecord.attributes.usuario.sobrenome' %></th>
        <th><%= I18n.t 'activerecord.attributes.usuario.picture' %></th>

      </tr>
      
      <tr>
        <td><%= usuario.picture %></td>
        <td><%= usuario.name %></td>
        <td><%= usuario.sobrenome %></td>
      </tr>
      <tr>
        <% if can? :read, @usuario %>
            <td><p><%= link_to I18n.t('link_to.show'), usuario %></p></td>
        <% end %>
        <% if can? :update, @usuario %>
            <td><p><%= link_to I18n.t('link_to.edit'), edit_usuario_path(usuario) %></p></td>
        <% end %>
        <% if can? :delete, @usuario %>
            <td><p><%= link_to I18n.t('link_to.delete'), usuario, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <% end %>
      </tr>
    </table>
<% end %>

<br />
<% if can? :create, @usuario %>
    <p><%= link_to I18n.t('link_to.new'), new_usuario_path %></p>
<% end %>
