<h2><%= I18n.t "activerecord.models.usuario" %></h2>

<% @usuarios.each do |usuario| %>

    <table>
      <tr>
        <th><%='picture' %></th>
        <th><%='name' %></th>
        <th><%='sobrenome' %></th>
      </tr>
      <tr>
        <td><%= usuario.picture %></td>
        <td><%= usuario.name %></td>
        <td><%= usuario.sobrenome %></td>
      </tr>
      <tr>
        <% if can? :read, @usuario %>
            <td><p><%= link_to I18n.t('link_to.show'), usuario %></p></td>
        <% end %>
        <% if can? :update, @usuario %>
            <td><p><%= link_to I18n.t('link_to.edit'), edit_usuario_path(usuario) %></p></td>
        <% end %>
        <% if can? :delete, @usuario %>
            <td><p><%= link_to I18n.t('link_to.delete'), usuario, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <% end %>
      </tr>
    </table>
<% end %>

<br />
<% if can? :create, @usuario %>
    <p><%= link_to I18n.t('link_to.new'), new_usuario_path %></p>
<% end %>
