<p id="notice"><%= notice %></p>
<p>
  <b>Foto:</b>
  <%= image_tag(@usuario.picture_url, :width => 200) if @usuario.picture.present? %>
</p>
<p>
  <b>Name:</b>
  <%= @usuario.name %>
</p>

<p>
  <b>Sobrenome:</b>
  <%= @usuario.sobrenome %>
</p>




<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
