= semantic_form_for [@empresa] do |form|
  
  = form.input :nome, :label => 'Nome'
  = form.input :cnpj, :label => 'Cnpj'
  = form.input :endereco, :label => 'Endereco'  
  = form.input :telefone, :label => 'Telefone'
  = form.input :email, :label => 'Email'

  = form.submit 'Salvar'
